<div style= 'width: 100%; float: left; display: block; background-color: #ddd'>
	<b> Relationship Benefits </b> <br/>

    <div style='float: left; width: 255px; margin: 10px; margin-left: 30px'>
    Employee Pct:
    <input id="pct_employee" data-slider-id='pct_employeeSlider' type="text" data-slider-min="0" data-slider-max="101" data-slider-step="5" data-slider-value="50" 
       style='width:225px'
       data-slider-ticks="[0, 50, 100]"
       data-slider-ticks-labels='["0%", "50", "100"]'
    />
    </div>
    <div style='float: left; width: 255px; margin: 10px;'>
    Spouse Pct:
    <input id="pct_spouse" data-slider-id='pct_spouseSlider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="0" style='width:225px'
        data-slider-ticks="[0, 50, 100]"
        data-slider-ticks-labels='["0%", "50", "100"]'
    />
    </div>
    <div style='float: left; width: 255px; margin:10px'>
    Partner Pct:
    <input id="pct_partner" data-slider-id='pct_partnerSlider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="0" style='width:225px'
       data-slider-ticks="[0, 50, 100]"
       data-slider-ticks-labels='["0%", "50", "100"]'
    />
    </div>
    <div style='float: left; width: 255px; margin:10px'>
    Child Pct:
    <input id="pct_child" data-slider-id='pct_child' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="0" style='width:225px'
        data-slider-ticks="[0, 50, 100]"
        data-slider-ticks-labels='["0%", "50", "100"]'
    />
    </div>
</div>	
