<div class="container-fluid">

    <div class="row">
      <div class="col-md-3 text-right">
          Contribution % for Employee:
      </div>
      <div class="col-md-3">
        <input id="dental_pct_employee" data-slider-id='dental_pct_employeeSlider' type="text" data-slider-min="50" data-slider-max="100" data-slider-step="5" data-slider-value="50"
           style='width:200px'
           data-slider-ticks="[0, 50, 100]"
           data-slider-ticks-labels='["0", "50", "100"]'
        />
      </div>
      <div class="col-md-3 text-right">
          Contribution % for Spouse:
      </div>
      <div class="col-md-3">
        <input id="dental_pct_spouse" data-slider-id='dental_pct_spouseSlider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="0" style='width:200px'
            data-slider-ticks="[0, 50, 100]"
            data-slider-ticks-labels='["0", "50", "100"]'
        />
      </div>
    </div>
    <div>&nbsp;</div>
    <div class="row">
      <div class="col-md-3 text-right">
          Contribution % for Domestic Partner:
      </div>
      <div class="col-md-3">
        <input id="dental_pct_domestic_partner" data-slider-id='dental_pct_domestic_partnerSlider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="0" style='width:200px'
           data-slider-ticks="[0, 50, 100]"
           data-slider-ticks-labels='["0", "50", "100"]'
        />
      </div>
      <div class="col-md-3 text-right">
          Contribution % for Child:
      </div>
      <div class="col-md-3">
        <input id="dental_pct_child_under_26" data-slider-id='dental_pct_child_under_26Slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="0" style='width:200px'
            data-slider-ticks="[0, 50, 100]"
            data-slider-ticks-labels='["0", "50", "100"]'
        />
      </div>
    </div>
    <!--<div style='float: left; width: 255px;  margin-left: 30px'>
    Contribution % for Employee:
    <input id="dental_pct_employee" data-slider-id='dental_pct_employeeSlider' type="text" data-slider-min="0" data-slider-max="101" data-slider-step="5" data-slider-value="50"
       style='width:225px'
       data-slider-ticks="[0, 50, 100]"
       data-slider-min="50"
       data-slider-ticks-labels='["0", "50", "100"]'
    />
  </div>-->
  <!--  <div style='float: left; width: 255px; margin-left: 30px;'>
    Contribution % for Spouse:
    <input id="dental_pct_spouse" data-slider-id='dental_pct_spouseSlider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="0" style='width:225px'
        data-slider-ticks="[0, 50, 100]"
        data-slider-ticks-labels='["0", "50", "100"]'
    />
  </div>
    <div style='float: left; width: 255px; margin-left:30px'>
    Contribution % for Domestic Partner:
    <input id="dental_pct_domestic_partner" data-slider-id='dental_pct_domestic_partnerSlider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="0" style='width:225px'
       data-slider-ticks="[0, 50, 100]"
       data-slider-ticks-labels='["0", "50", "100"]'
    />
    </div>
    <div style='float: left; width: 255px; margin-left:30px'>
    Contribution % for Child:
    <input id="dental_pct_child_under_26" data-slider-id='dental_pct_child_under_26Slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="0" style='width:225px'
        data-slider-ticks="[0, 50, 100]"
        data-slider-ticks-labels='["0", "50", "100"]'
    />
    </div>
    -->

    <!--<div class='col-12' style='width: 100%; float: left; margin-left: 30px; margin-top: 10px; display: block'>
        <div style='display: inline; margin-right 20px; font-size: 120%; font-weight: 700'><b>Total cost to Employer:</b>&nbsp;&nbsp;&nbsp; &nbsp;</div>
        <input id="dental_total_plan_cost" data-slider-id='dentaltotal_plan_costSlider' type="text" data-slider-min="0" data-slider-max="20000" data-slider-step="1" data-slider-value="5000" style='width:600px'
        data-slider-ticks="[0, 5000, 10000]"
        data-slider-ticks-labels='["0", "5000", "10000"]'
        />
    </div>-->

    </div>
