
<div class="container-fluid">
<!--<p> Select a roster/quote then focus your search for plans by feature or cost:
	<ul>
		<li>selection options</li>
		<li> limit maximum allowable deductible</li>
		<li> limit by roster cost (based on relationship benefits)</li>
    </ul>
</p>-->
	<div class='row-fluid'>
		<h3>Step 1 - Select the quote you wish to compare costs or plan information</h3>
	</div>
	<div class='row-fluid'>
	  <%=	select_tag "quote", options_from_collection_for_select(@quotes, "id", "quote_name", @q.try(:id).try(:to_s)), { } %>
	</div>
	<div class='row-fluid'>
	  <h3> Step 2 - Define employer contribution percentages</h3>
	</div>
	<div class='row-fluid'>
	  <%= render partial: 'benefit_sliders'%>
	</div>
	<div class='row-fluid'>
		<h3>Step 3 - Filter your plans / Selection criteria</h3>
	</div>
	<div class='row-fluid'>
		<%= render partial: 'select_plans' %>
	</div>
</div>
