

<div class="container-fluid">
<!--<p> Select a roster/quote then focus your search for plans by feature or cost:
	<ul>
		<li>selection options</li>
		<li> limit maximum allowable deductible</li>
		<li> limit by roster cost (based on relationship benefits)</li>
    </ul>
</p>-->

	<h3>Step 1 - Select the quote you to compare costs or plan information</h3>
  <div>&nbsp;</div>
  <%= select_tag "quote", options_from_collection_for_select(@quotes, "id", "quote_name"), { } %>
  <br/>

	<h3> Step 2 - Define employer contribution percentages</h3>
  <div>&nbsp;</div>

  <%= render partial: 'benefit_sliders'%>

	<h3>Step 3 - Filter your plans / Selection criteria</h3>

  <%= render partial: 'select_plans' %>

	<%= render partial: 'my_plans' %>

</div>
</div>
