<div class="container" id="inbox_provider_form">
  <div class="row">
    <div class="col-md-12">
      <h3>Quotes</h3>
      <% @quotes.each do |q| %>

      <br><%= q.quote_name %>

      <% end %>
    </div>
  </div>
</div>
