<div class="module container broker_quote_tool">
  <div class="row" class="col-md-12">
    <h3>Quote/Roster Management</h3>

    <%=link_to "New Quote" , new_broker_agencies_quote_path , method: :get, class: "btn btn-default", id: "new_quote"%>

    <hr>
  </div>
</div>
