<div class="module container broker_quote_tool">
  <div class="row">
    <div class="col-md-12">


      <h3>Your Quote</h3>

      <%= @quote.inspect %>


      <%= link_to 'Back' , broker_agencies_quotes_root_path , class: "btn btn-primary" %>
		</div>
	</div>
</div>
