<div class="module">
<%= render :partial => "shared/data_table", :locals => {
	:nav_tabs => [
		["all", "", true],
		["some", "", true],
		["the best ones", "", false]
	],
	:bulk_actions => [
		["Send Secure Message", "", true],
		["Delete", "", false]
	],
	:row_functions => true,
	:checkboxes => true,
	:pagination => true,
	:ordering => true,
	:info => true,
	:table_id => "verification-dataTable",
	:data_url => verifications_index_datatable_exchanges_hbx_profiles_path(:format => :json),
	:columns => [
    ["HBX ID", "hbx_id"],
    ["First name", "first_name"],
    ["Last name", "last_name"],
    ["Documents", "documents"],
    ["Due date", "due_date"],
	  ["Status", "review_status"],
	  ["Review", "review"],
	  ["FedHub", "fed_hub"]
	]
} %>
</div>
