<div class="module" data-generate-invoice-url="<%= generate_invoice_exchanges_hbx_profiles_path %>">
  <%= render partial: "shared/data_table", locals:  {
    page_header:  ["Employer Invoices", ""],
    directions:  "",
    new_button:  [],
	  filters:  [
      ["All", "", true, []],
      ["Initial", "", true, [
        [TimeKeeper.date_of_record.next_month.beginning_of_month, "url", "request_type"],
  			[TimeKeeper.date_of_record.next_month.beginning_of_month.next_month, "url", "request_type"],
        [TimeKeeper.date_of_record.next_month.beginning_of_month.next_month.next_month, "url", "request_type"]
      ]],
      ["Renewing", "", true, [
        [TimeKeeper.date_of_record.next_month.beginning_of_month, "url", "request_type"],
  			[TimeKeeper.date_of_record.next_month.beginning_of_month.next_month, "url", "request_type"],
        [TimeKeeper.date_of_record.next_month.beginning_of_month.next_month.next_month, "url", "request_type"]
      ]
      ]
  	],
  	bulk_actions:  [
  		["Generate Invoice", "javascript:;", false]
  	],
  	row_functions:  false,
    row_actions:  [
      ["Cancel", "asd", true ]
    ],
  	buttons_below_table: [
  		# ['Export CSV', 'url', 'request_type'],
  		# ['Print', 'url', 'request_type']
  	],
    custom_handlers: [
      "EmployerInvoicesDatatable.callInitialFirstMonthFilter",
      "EmployerInvoicesDatatable.callInitialSecondMonthFilter",
      "EmployerInvoicesDatatable.callInitialThirdMonthFilter",
      "EmployerInvoicesDatatable.callRenewingFirstMonthFilter",
      "EmployerInvoicesDatatable.callRenewingSecondMonthFilter",
      "EmployerInvoicesDatatable.callRenewingThirdMonthFilter",
      "EmployerInvoicesDatatable.generateInvoicesForSelection",
      "EmployerInvoicesDatatable.callAll"
    ],
    child_rows: [false, "datatables/child_row"],
    destroy: true,
    responsive: true,
  	checkboxes: true,
  	pagination: true,
  	ordering: false,
  	info: true,
  	table_id: "employer-invoices-dataTable",
  	data_url: employer_invoice_datatable_exchanges_hbx_profiles_path(:format => :json),
  	columns: [
      ["FEIN", "fein", "", [false, ""]],
      ["Legal name", "legal_name", "", [false, ""]],
      ["Conversion?", "conversion", "", [false, ""]],
      ["Status", "status", "", [false, ""]],
      ["Effective Date", "effective_date", "", [false, ""]],
  	  ["Invoiced?", "invoiced", "", [false, ""]],
  	  ["Enrolled/Waived", "enrolled_waived", "", [false, ""]],
  	  ["Pending", "pending", "", [false, ""]],
      ["Eligible", "eligible", "", [false, ""]],
      ["Percentage", "percentage", "", [false, ""]]
  	]
  } %>
</div>
