<div class="content landing">
	<%= render "exchanges/hbx_profiles/shared/primary_nav", :active_tab => "home-tab" %>
	<div class="container">
		<div id="hbx_inbox">
	<% if params.has_key?(:message_id) %>
		<%= render partial: 'shared/inboxes/message'%>
	<% elsif params.has_key?(:tab) %>
	<div class="col-xs-12">

	<div class="row">
		<h1 class="darkblue">Messages</h1>
		<%= render "inbox", :provider => @provider %>
	</div>
	</div>
	<% end %>
</div>
	<div class="home">
		<%= render 'shared/tab_panel' %>
	</div>
</div>
</div>
