.container
  #new_person_wrapper
    .row
      = form_for @person, { :as => :person, :url => match_insured_employee_index_path, :method => :post } do |f|
        .col-lg-10.col-md-10.col-sm-10.col-xs-12
          .col-lg-11.col-md-11.col-sm-11.col-xs-12
            %h1.darkblue Personal Information
            = render 'remote_search_form', f: f
            #person_search_results
              = render 'no_match'
            %br
          .col-lg-1.col-md-1.col-sm-1.col-xs-0
        .col-lg-2.col-md-2.col-sm-2.col-xs-12.right-section
          = render  partial: 'shared/signup_progress', locals: {step: '1'}
