<table class="table table-striped display table-hover table-condensed" id="premium-reports-table">
    <thead>
        <tr>
          <th>Employee Profile</th>
          <th>Benefit Package</th>
          <th>Insurance Coverage</th>
          <th>Cost</th>
        </tr>
    </thead>
    <tbody>
      <% if @hbx_enrollments.present? %>
        <% @hbx_enrollments.each do |hbx_enrollment| %>
          <%= render "employee_line_item", census_employee: hbx_enrollment.census_employee, enrollment: hbx_enrollment %>
        <% end %>
      <% else %>
        <tr>
          <td style="text-align: left;">
            No employees enrolled
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
</table>

<script>
  $(document).on('ready page:load', function () {

    $('.premium-reports-table > .table').DataTable( {
      "processing": true,
      "serverSide": true,
      "ordering" : false,
      "ajax": {
        url: "<%= premium_statements_index_datatable_employers_premium_statements_path(:format => :json) %>",
        type: "GET"
      }
    } );
    $('select').selectric();
  });
</script>
