  var SmartPlans = ( function( window, undefined ) {

  function update() {
    if ( $('.plan-row:visible').length > 0 ) {
      var sort_by = $('.module.smart-plans .panel-default').data('sort-by');
      $('.smart-plans').html("<br/><br/><br/><span class='text-block text-center col-xs-12'><i class='fa fa-spinner fa-spin fa-2x' style='color: #007bc4;'></i><br/><h4 class='text-center'>Loading plans...</h4></span><br class='clear'/>");
      plans = []
      $('.plan-row:visible').each(function(index, plan) {
        if ( index <= 2 ) {
          plans.push($(this).data('plan-id'));
        }
      });
      $('#plans').hide();
      url = "/insured/plan_shoppings/smart_plans"
      multiplyer = $('#select_plan_wrapper').data('rating');
      hbx_enrollment = $('#select_plan_wrapper').data('hbx-enrollment');
      $.ajax({
        url: url,
        type: "GET",
        data: {
          "plans": plans,
          "multiplyer": multiplyer,
          "hbx_enrollment": hbx_enrollment,
          "sort_by": sort_by
        },
        success: function(data) {
          var heading_text = $('.smart-plans .panel-heading h4');
          heading_text.append("[Custom Filter]");
          $('.smart-plans .panel-heading h4').css({fontSize: '16px'});
      }
      });
      SmartPlans.applyBadges();

    } else {
      $('.smart-plans').html("<br/><br/><br/><span class='text-block text-center col-xs-12'><br/><h4 class='text-center'>No Plans</h4></span><br class='clear'/>");
    }
  }
  function applyBadges() {
    var $plan_rows = $('#plans').find('.plan-row:visible');
    var active_sort = $('#sort_by_shop .active').text();
    var active_sort = active_sort.replace(/[_-]/g, " ").toLowerCase().replace(/ /g,"_");
    $('.icon .fa-star').addClass(active_sort);
    var sort = $('.smart-plans').find('.panel-default').data('sort-by') || active_sort;
    $plan_rows.find('.col-xs-1 .icon').html("");
    $plan_rows.each( function (index) {
      if ( index <= 2 ) {
        $(this).find('.icon').html('<strong><span class=\"fa-stack fa-lg\"><i class="fa fa-star '+sort+'\" aria-hidden=\"true\"></i><i class=\"fa fa-stack-1x number\"><strong>'+ (index+1) +'</strong></i></span></strong>')
      }
    });
  }
  // explicitly return public methods when this object is instantiated
  return {
      update : update,
      applyBadges : applyBadges
    };
  } )( window );

  //  example usage
  function hidePlanTabs() {
    $(".all-filters-row").hide();
    $("ul[role='tablist'] li[role='presentation']").each(function(idx, ele) {
      $(ele).removeClass("active");
    });

  }

function combineAllPlanSelectors(planSelectors) {
  var selectors = [];
  var baseSelector = $(".plan-row");
  var combinedSelectors = baseSelector;
  combinedSelectors.hide();
  for (var i = 0; i < planSelectors.length; i++) {
    combinedSelectors = combinedSelectors.filter(planSelectors[i]);
  }
  combinedSelectors = filterPlanByRange("premium", combinedSelectors);
  combinedSelectors = filterPlanByRange("deductible", combinedSelectors);
  combinedSelectors = filterPlanBySelect("carrier", combinedSelectors);
  combinedSelectors = filterPlanBySelect("hsa-eligibility", combinedSelectors);
  combinedSelectors.show();
}

function filterPlanBySelect(type, combinedSelectors) {
  var carrier = $("select.plan-"+type+"-selection-filter").val();
  if (carrier == "" || carrier == undefined) {
    return combinedSelectors;
  } else {
    var selectors = combinedSelectors.filter(function(){
      return (carrier == $(this).data("plan-"+type));
    });
    return selectors;
  }
}

function filterPlanByRange(type, combinedSelectors) {
  var from = parseFloat($("input.plan-metal-"+type+"-from-selection-filter").val().replace(/[^\d\.]/g,''));
  var to= parseFloat($("input.plan-metal-"+type+"-to-selection-filter").val().replace(/[^\d\.]/g,''));
  if (isNaN(from) || isNaN(to)){
    return combinedSelectors;
  } else {
    var selectors = combinedSelectors.filter(function(){
      var premium = parseFloat($(this).data("plan-metal-"+type).toString().replace(/[^\d\.]/g,''));
      return (premium >= from && premium <= to);
    });
    return selectors;
  }
}

function applyPlanFilterCBs(cbKlass, cbFilterKlass, planValueTag) {
  var selectedPlanTypes = [];
  var spCheckboxes = $('input.' + cbKlass + ':checked');
  if (spCheckboxes.size() > 0) {
    spCheckboxes.each(function(idx, ele) {
      var ptName = $(ele).attr(cbFilterKlass);
      var qstring = "[" + planValueTag  + "='" + ptName + "']";
      selectedPlanTypes.push(qstring);
    });
    return $(selectedPlanTypes.join(", "));
  } else {
    return $("[" + planValueTag + "]");
  }
}

function applyPlanFilters() {
  var all_selectors = [
    applyPlanFilterCBs("plan-type-selection-filter", "data-plan-category-filter", "data-plan-category"),
    applyPlanFilterCBs("plan-metal-level-selection-filter", "data-plan-metal-level-filter", "data-plan-metal-level"),
    applyPlanFilterCBs("plan-metal-network-selection-filter", "data-plan-metal-network-filter", "data-plan-metal-network")
  ];
  combineAllPlanSelectors(all_selectors);
  $("strong#plans-count").text($(".plan-row:visible").length);
  $('.select-plan-for-comparison:checked').not(':visible').each( function() {
    $(this).removeProp('checked');
  });
  var $footer = $('.compare-plans-footer:visible');
  $footer.remove();
  plansToCompareArray = [];
}

plansToCompareArray = new Array();
var hbx;
var active_year;
var enrollment_kind;
var change_plan;

function maybeAddComparisonPlan(cb) {
	var new_plan = $(cb).attr("data-hios-id");
  hbx =  $(cb).attr("data-hbx-id");
  active_year =  $(cb).attr("data-plan-year");
  enrollment_kind =  $(cb).attr("data-plan-enrollment-kind");
  change_plan =  $(cb).attr("data-plan-change-plan");
	var is_checked = $(cb).prop("checked");
	if (is_checked) {
		if (plansToCompareArray.length > 2) {
      $("#plans-compare-alert").modal("show");
			var removed_id = plansToCompareArray.shift();
			var lookup_string = "input[data-hios-id='" +
				removed_id + "'].select-plan-for-comparison";
			$(lookup_string).each(function(idx, ele) {
				$(ele).attr("checked", false);
			});
		}
		plansToCompareArray.push(new_plan);
	} else {
		var tmpArray = [];
		for (var i = 0; i < plansToCompareArray.length; i++) {
			if (plansToCompareArray[i] != new_plan) {
				tmpArray.push(plansToCompareArray[i]);
			}
		}
		plansToCompareArray = tmpArray;
	}
	if (plansToCompareArray.length > 1) {
    data_uri = $('a.compare-uri').data('uri');
    $('.compare-plans-footer').not(':visible').remove();
    $('.content.plan_shoppings').after('<div class="module compare-plans-footer container-fluid dn"><div class="container"><div class="col-xs-6 col-xs-offset-3"><a href="javascript:void(0);" class="btn-block btn btn-trans btn-small compare-selected-plans-link", data-uri="'+data_uri+'">Compare Selected Plans</a></div></div></div>')
		$(".compare-plans-footer").slideDown();
	} else {
		$(".compare-plans-footer").slideUp();
	}
}

function doPlanComparison(action_uri) {
	$.ajax({
		type: "GET",
  	url: action_uri,
  	dataType: 'script',
  	data: {
  		"standard_component_ids": plansToCompareArray,"hbx_enrollment_id": hbx, "active_year": active_year, "enrollment_kind": enrollment_kind,
      "change_plan": change_plan
  	}
	});
}
//
// maybe we don't need this plan sort function anymore anymore (04/8/2016)
function applyPlanSort(sort_by){
  console.log(123)
  var plandivs = $('#all-plans #plans .plan-row');
  plandivs.sort(function(a, b){
    if (sort_by == "plan-metal-premium" || sort_by == "plan-metal-deductible"){
      var keyA = parseFloat($(a).data(sort_by).toString().replace(/[^\d\.]/g,''));
      var keyB = parseFloat($(b).data(sort_by).toString().replace(/[^\d\.]/g,''));
    }else{
      var keyA = $(a).data(sort_by);
      var keyB = $(b).data(sort_by);
    }
    return (keyA > keyB) ? 1 : -1;
  });
  $("#all-plans #plans").empty().append(plandivs).fadeIn();
};
//


function updatePlanCost(elected_aptc) {
  var elected_amount = parseFloat(elected_aptc);
  var plans = $('.plan-row');
  for(var i=0; i<plans.length; i++){
    var plan = plans[i];
    var premium = parseFloat($(plan).data('plan-metal-premium'));
    var ehb_premium = premium * parseFloat($(plan).data('plan-ehb'));
    if ($(plan).data('can-use-aptc') == true){
      var premium_resp_amt = premium - Math.min.apply(null, [elected_amount, ehb_premium]);
    } else {
      var premium_resp_amt = premium;
    }
    if (premium_resp_amt < 0) {
      premium_resp_amt = 0;
    }
    premium_resp_amt = premium_resp_amt.toFixed(2);
    $(plan).find('h2.plan-premium').html("$" + premium_resp_amt);
  };
};

$(function() {
  $(document).on('click', "#select-plan-container a[role='tab'][data-toggle='tab']", function(){
		hidePlanTabs();
		$(this).parent().addClass("active");
		var attr = $(this).attr("data-plan-category-filter");
		if (typeof attr !== typeof undefined && attr !== false) {
			if (attr == "all") {
				$(".plan-row").show();
			} else {
				$(".plan-row").hide();
				var qstring = ".plan-row[data-plan-category='" + attr + "']";
				$(qstring).show();
			}
		}
  });

  $(document).on('click', '.smart-plans .panel-footer a', function(){
    standard_component_ids = []
    hbx = $('#select_plan_wrapper').data('hbx-enrollment');
    active_year = $('#select_plan_wrapper').data('plan-year');
    enrollment_kind = $('#select_plan_wrapper').data('coverage_kind');
    change_plan = $('#select_plan_wrapper').data('change_plan') || "";

    $('.smart-plans .panel-body h5').each(function() {
      standard_component_ids.push($(this).data('standard-component-id'))
    });
    var base_url = $('a.compare-uri').data('uri');

    $.ajax({
      type: "GET",
      url: base_url,
      dataType: 'script',
      data: {
        "standard_component_ids": standard_component_ids,
        "hbx_enrollment_id": hbx,
        "active_year": active_year,
        "enrollment_kind": enrollment_kind,
        "change_plan": change_plan
      }
    });
  });

  $(document).on('change', '.select-plan-for-comparison', function(){
		maybeAddComparisonPlan(this);
  });

  $(document).on('click', '.compare-selected-plans-link', function(){
		var base_url = $(this).attr("data-uri");
		doPlanComparison(base_url);
  });

  $(document).on('change', 'input[name="elected_pct"]', function(){
    var elected_pct = $("input[name='elected_pct']").val();
    var elected_amount = parseFloat($('#max_aptc').val()).toFixed(2) * parseFloat(elected_pct).toFixed(2);
    $('#elected_aptc').val(elected_amount.toFixed(2));
  });

  $(document).on('change', 'input#elected_aptc', function(){
    var elected_aptc = $(this).val();
    var max_aptc = $('input#max_aptc').val();
    $("input[name='elected_pct']").val(elected_aptc/max_aptc);
    if (max_aptc == "" || parseFloat(max_aptc) == 0){
      $("output[name='pct']").text("100");
    } else {
      $("output[name='pct']").text((elected_aptc/max_aptc*100).toFixed(0));
    }
  });

  $(document).on('click', '.all-filters-row .apply-btn', function(){

		applyPlanFilters();

    if ($('.aptc').length > 0){
      var elected_aptc = $("input#elected_aptc").val();

      updatePlanCost(elected_aptc);
      $.ajax({
        type: "POST",
        url: $('#set_elected_aptc_url').val(),
        dataType: 'script',
        data: {
          'elected_aptc': elected_aptc
        }
      });
    };

    SmartPlans.update();
  });



  $(document).on('click', '.all-filters-row .reset-btn', function(){
    $(".filter-sidebar input[type='checkbox']").attr("checked", false);
    $(".filter-sidebar input[type='text'].plan-metal-premium-from-selection-filter").val("0");
    $(".filter-sidebar input[type='text'].plan-metal-premium-to-selection-filter").val($('#max_total_employee_cost').val());
    $(".filter-sidebar input[type='text'].plan-metal-deductible-from-selection-filter").val("0");
    $(".filter-sidebar input[type='text'].plan-metal-deductible-to-selection-filter").val($('#max_deductible').val());
    $(".filter-sidebar select.plan-carrier-selection-filter").prop('selectedIndex', 0).selectric('refresh');
    $(".filter-sidebar select.plan-hsa-eligibility-selection-filter").prop('selectedIndex', 0).selectric('refresh');
    var sort_text = $(".module.smart-plans .panel-default").data("sort-by").split('_').join(' ');
    var $heading_text = $('.smart-plans .panel-heading h4');
    $heading_text.html('Top 3 Picks - by Lowest '+ '<span style="text-transform: capitalize;">'+sort_text+'</span>');
    $heading_text.css({'fontSize': '18px'});
    applyPlanFilters();
  });

// this code has been replaced by the ajax pattern on (4/8/2016), it can probably be deleted
  $(document).on('click', '#sort_by a', function(){
    applyPlanSort($(this).data('sort-by'));
  });



  $(document).on('click', "#plans .plan-select.btn-trans.select", function(e){
    var url = $(this).data('url');
    if ($('.aptc').length > 0){
      var elected_aptc = $("input#elected_aptc").val();
      url = url + "&elected_aptc=" + elected_aptc;
    };
    window.location.href= url;
  });
});


$(document).on("click", ".reference_plan_info h4 span", function() {
  $(this).parents(".reference_plan_info").find('.content').toggle();
});
