<h1 class="page-header">Live Report</h1>

<div class="row">
  <div class="col-xs-12 col-sm-3 col-md-3">
    <div class="well" style='background: white'>
      <h4>Current Data</h4>
      <h1 id="data" class='center'>0</h1>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8">
    <div id="container"></div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    chart = new Highcharts.Chart({
      chart: {
        renderTo: 'container',
        defaultSeriesType: 'spline',
        events: {
          load: requestData
        }
      },
      title: {
        text: 'Live data'
      },
      xAxis: {
        type: 'datetime',
        tickPixelInterval: 150,
        maxZoom: 20 * 1000
      },
      yAxis: {
        minTickInterval: 1,
        title: {
          text: 'Count',
          margin: 80
        }
      },
      series: [{
        name: 'Data',
        data: []
      }]
    });        
  });

  function requestData() {
    $.ajax({
      url: '<%= data_for_live_dashboards_path %>',
      success: function(point) {
        var series = chart.series[0],
        shift = series.data.length > 20; // shift if the series is 
        // longer than 20
        data = [(new Date()).getTime(), point[1]];

        // add the point
        chart.series[0].addPoint(point, true, shift);
        $('#data').html(point[1]);

        // call it again after one second
        setTimeout(requestData, 2000);
      },
      cache: false
    });
  }
</script>
