<div class="module health_analytics">
  <a id="continue" class="btn btn-primary btn-br" href="#">Continue</a>
  <br/>
  <br/>
  <%= image_tag 'icons/list.png' %>&nbsp;
  <a class="back" href="#">PREVIOUS</a>

</div>
