<div class="module health_analytics">
  <div class="intake-steps">
    <ul class="nav nav-pills nav-stacked nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="asdasd" data-url='asdas' aria-controls="asdas" role="tab" data-toggle="tab">dasd</a>
        </li>
        <li role="presentation" class="">
          <a href="asdasd" data-url='asdas' aria-controls="asdas" role="tab" data-toggle="tab">dasd</a>
        </li>
        <li role="presentation" class="">
          <a href="asdasd" data-url='asdas' aria-controls="asdas" role="tab" data-toggle="tab">dasd</a>
        </li>
    </ul>
  </div>
</div>
