<% content_for :horizontal_status do %>
<%= render :partial => 'insured/families/horizontal_status', locals: {step: 1} %>
<% end %>
<% content_for :analytics_submit_column do %>
<%= render :partial => 'insured/health_analytics/analytics_submit_column' %>
<% end %>

<h1 class="darkblue">Health</h1>
<h3>Based on the information you gave us, we estimate you and your family will have:</h3>
<br/>
<div class="col-xs-10 health_analytics module visits-estimate">
  <div class="row">
<div class="panel panel-default visits-estimate-table">
  <div class="table-responsive">
    <table class="table table-striped table-hover table-sm">
      <tbody>
        <tr>
          <td>
            2
          </td>
          <td>
            Well visit (checkups) with your primary care doctor
          </td>
        </tr>
        <tr>
          <td>
            1
          </td>
          <td>
            Sick visits or follow up with your primary care doctor
          </td>
        </tr>
        <tr>
          <td>
            2
          </td>
          <td>
            Visits with a specialist (like an OB/GYN or dermatologist)
          </td>
        </tr>
        <tr>
          <td>
            0
          </td>
          <td>
            Urgent Care
          </td>
        </tr>
        <tr>
          <td>
            0
          </td>
          <td>
            Mental health visits (like for counseling)
          </td>
        </tr>
        <tr>
          <td>
            0
          </td>
          <td>
            Chiropractor visits
          </td>
        </tr>
        <tr>
          <td>
            2
          </td>
          <td>
            Lab tests (like a blood test)
          </td>
        </tr>
        <tr>
          <td>
            0
          </td>
          <td>
            Imaging test (like an MRI or CT scan)
          </td>
        </tr>
        <tr>
          <td>
            0
          </td>
          <td>
            X-Ray
          </td>
        </tr>
        <tr>
          <td>
            0
          </td>
          <td>
            Rehabilitation visits (like for physical therapy)
          </td>
        </tr>
        <tr>
          <td>
            0
          </td>
          <td>
            Outpatient (day) surgeries
          </td>
        </tr>
        <tr>
          <td>
            0
          </td>
          <td>
            Emergency room visits
          </td>
        </tr>
        <tr>
          <td>
            0
          </td>
          <td>
            Hospitalization
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>

<a class="btn btn-trans">Edit Estimate</a>
<br class="clear"/>
</div>
</div>
</br>

<script>
$(document).ready(function () {
  $('.visits-estimate .btn-trans').on('click', function() {
    values = $('table tr').find('td:first')
    $.each( values, function( i, val ) {
      td_values = $(this).text();
      $(this).html("<input type='number' value="+ td_values +"/>");
    });
  });
});
</script>
